useDynLib(gbra)
export(gen.pca)
export(color.clust)
export(load.legend)
export(select.genomes)
export(load.hits)
export(kmeans.pca)
export(domin.clust)
export(logreg.mismatch.genes)
export(connect.derby)
export(read.bh.file)
export(sign.bh.table)
export(read.bhs)
export(save.legend)
export(normalize.scores)
export(restrict.minimal.hits)
export(attach.genomeid.header)
export(assign.names)
export(getMLEs)
export(getMLE)
export(getMLEpp)
export(read.tbh.table)
export(read.tbh.tables)
export(sample.data)
export(read.orf.base.fasta.single)
export(read.orf.base.fastas)
export(get.orf.id.from.gblaster.id)
export(dist.spearman.one)
export(dist.stdev.one)
importFrom(Rcpp,evalCpp)
