useDynLib(gbra)
export(append.cluster)
export(sample.data)
export(sample.data.2)
export(get.glm.formula)
export(fit.glm)
export(get.rsq)
export(predict.clusters)
export(create.model.driver)
export(genome.ids.in.coocked.df)
export(filter.genome.data)
export(select.genome.data)
export(logreg.mismatch.genes)
export(read.bh.file)
export(gen.pca)
export(color.clust)
export(load.legend)
export(select.genomes)
export(load.hits)
export(kmeans.pca)
export(domin.clust)
export(logreg.mismatch.genes)
export(connect.derby)
export(read.bh.file)
export(sign.bh.table)
export(read.bhs)
export(save.legend)
export(normalize.scores)
export(restrict.minimal.hits)
export(attach.genomeid.header)
export(assign.names)
export(getMLEs)
export(getMLE)
export(getMLEpp)
export(read.tbh.table)
export(read.tbh.tables)
export(sample.data)
export(read.orf.base.fasta.single)
export(read.orf.base.fastas)
export(get.orf.id.from.gblaster.id)
export(dist.spearman.one)
export(dist.stdev.one)
export(model.ratio.table)
export(getRsquared)
export(extract.gprimes)
export(write.fitch)
export(expand.df)
export(plot.itol)
export(rename.tree)
export(save.legend)
importFrom(Rcpp,evalCpp)
