export(gen.pca)
export(color.clust)
export(load.legend)
export(select.genomes)
export(load.hits)
export(kmeans.pca)
export(domin.clust)
export(logreg.mismatch.genes)
export(connect.derby)
export(read.bhs)